@"
# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore IDE & build artifacts
/.classpath
/.project
/.settings/
/.idea/
/*.iml
/target/
/build/

# OS specific
Thumbs.db
.DS_Store
"@ | Out-File -Encoding utf8 .gitignore
